<h3>Browse</h3>
@if (ShowInput) {
    <form>
        <div class="form-group">
            <label for="startCode">Start Code (hexadecimal)</label>
            <input type="text" class="form-control" id="startCode" placeholder="2500 - Hexvalue" @bind="@StartCode" />
        </div>
        <div class="form-group">
            <label for="columnCount">Column Count</label>
            <select class="form-control" id="columnCount" @bind="@ColumnCount">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
            </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="showUnicodeName" @bind="@ShowUnicodeName">
            <label class="form-check-label" for="showUnicodeName">
                Show Unicode Name
            </label>
        </div>
        <button @onclick="@BuildTable" @onclick:preventDefault>Show Table</button>
    </form>
    <div class="horizontal-rule-dark"></div>
    <h3>Quick Tables</h3>
    @foreach (var group in UnicodeCharacterGroup.All.OrderBy(g => g.Name)) {
        <button @onclick='@(_ => SelectGroup(group))'>@group.Name</button>
    }

} else {
    <form>
        <button @onclick="@CloseTable" @onclick:preventDefault>Close</button>
    </form>
    <CodePointTable StartCode="@StartCodeLong" ColumnCount="@ColumnCount" Title="@Title" ShowUnicodeName="@ShowUnicodeName" />
}
